/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}
.margin-top-bottom-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.bg-color {
  background-color: #eee;
}

.centerize {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.dashboard-container-div {
	width:99%;
	margin: 0 auto;
}

.dashboard-table-custom {
	/*width: 80%;*/
	overflow: auto;
	height: 500px;
	padding: 0px;
}

.no-padding {
  padding: 0px !important;
}

.no-margin {
  margin: 0px !important;
}

.padding-bot-5 {
  padding-bottom: 5px !important;
}

.bg-col {
  background-color: #f5f5f5
}

img {
  height: 27px;
  width: 70px;
  margin-right: 20px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  /*margin-bottom: 60px;*/
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  /* Set the fixed height of the footer here */
  height: 20px;
  background-color: #f5f5f5;
}


/*.navbar-nav>.active>a {
  background-color: #1D36DA !important;
}*/

.nav-tabs {
  background-color: #ebedf0;
}


a {
    color: #217dbb;
    text-decoration: none;
}

.active > a{
	color: #fff;
}